.cabecalho {
    background: linear-gradient(50deg, #00ff15 40%, #0c800a 50%);
    height:70px;
    display: flex;
    flex-direction: row;
    align-items: right;
    padding: 2%;
  }

.cabecalho-letras {
  font-family: 'Sarala', sans-serif;
  color: #100e0b;
  font-weight: 20;
  font-size: 40px
}

.cabecalho-img {
    height: 10px;
    align-items: left;
}

.scroll {
    height:590px;
    width: 100px;
    overflow-y:scroll;
    padding:5px 25px;
    border: #100e0b;
    background-color: #153718;
}

.caixa-scroll {
  color:#ffffff;

}

.fundo {
  background-color: #100e0b;
}