.cabecalho {
    background: linear-gradient(50deg, #00ff15 40%, #0c800a 50%);
    display: flex;
    flex-direction: row;
    align-items: right;
    padding: 2%;
  }

.cabecalho-letras {
  font-family: 'Sarala', sans-serif;
  color: #100e0b;
  font-weight: 20;
  font-size: 40px
}

.cabecalho-img {
    height: 10px;
    align-items: left;
}

.scroll {
    align-items: side-bar;
    position: left;
    height:540px;
    overflow-y:scroll;
    padding:5px 25px;
    border: #100e0b;
}