BODY, P{
    color: black;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
H1, H2, H3, H4, H5, H6 {
    color: green;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

input_output {
    white-space: pre-wrap;
    display: block;
    background-color: #282828;
    border-color: #c0c0c0;
    border-style: ridge;
    border-width: 5pt;
    color: #33FF33;
    font-family: "Courier New";
    font-size: 12pt;
    font-weight: bolder;
    margin: 5pt;
    padding: 10pt;
}

help{
    align-items: flex-end;
}

plain {
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 14pt;
} 
table {
    border-collapse: collapse;
    width: 90%;
}


td{
    border: 1px solid #dddddd;
    padding: 8px;
}
th {
    border: 1px solid #dddddd;
    padding: 8px;
    background-color:  #80ff80;
    color: black;
    
}

tr:nth-child(even) {
    background-color: #dddddd;
}
a:link, a:visited {
    background-color: #80ff80;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: #80ff80;
    color: white;
}  


pre {
    background-color: #f3f3f3;
    border-color: #c0c0c0;
    border-style: outset;
    border-width: 1pt;
    color: #000000;
    font-family: "Courier New";
    font-size: 12pt;
    font-weight: bolder;
    margin: 5pt;
    padding: 10pt;

}